default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username:
  password:

development:
  <<: *default
  database: common-table_development

test:
  <<: *default
  database: common-table_test

production:
  <<: *default
  database: common-table_production
  username: common-table
  password: <%= ENV['COMMON-TABLE_DATABASE_PASSWORD'] %>
