.room-table
  - table_items.each do |item|
    = render_table_item item
  - #.dragable-box[ data-drag-id=n style="border: 1px solid #000; width: 100px; height: 100px; position: absolute; top: 100px; left: 100px; background: rgba(255, 255, 255, 0.9);" ]
