= render partial: 'rooms/table', locals: { table_items: @room.table_items }

= render partial: 'rooms/room_ui_status', locals: { room: @room }

= render partial: 'rooms/room_ui_menu', locals: { template_categories: @template_categories }

javascript:
  var table = new Table('#{ j @room.token }');
